* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
}

.logoIcon {
    background-color: rgb(164, 215, 235);
    display: flex;
    justify-content: center;

    .logo-img {
        width: 15rem;
        margin: 5px;
    }
}

.navbar {
    background-color: yellowgreen;

    .navbar-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #style-link {
        font-weight: bold;
        color: rgb(63, 62, 62);
    }
}

