
.fade.alert.alert-danger.show{
  text-align: center;
}

.btn:last-child {
  margin-left: 1.5rem;
}

.btn.btn-danger:hover{
  background-color: #FF4500;
}

.btn.btn-primary:hover{
  background-color: #00CED1;
}