.info{
  display: flex;
  flex-direction: column;
  max-width: 10rem;
  margin-top: -10px;

  .actions{
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .btn{
      font-size: 1.5rem;
    }
  }
}