* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #8B4513;
}
.logoIcon {
    background-color: rgb(164, 215, 235);
    display: flex;
    justify-content: center;

    .logo-img {
        width: 15rem;
        margin: 5px;
    }
}

